// customize bootstrap.less to change your includes
@import 'bootstrap/bootstrap.less';
@import 'typography.less';
@import 'forms.less';
@import 'app.less';
/**
 * Custom file for adding non-framework related styles to
 */
/**
 * Grid Modifications
 */

#logline.container {
	padding-left: 40px;
	padding-right: 40px;
	background-color: #fff;
}

.shadow_body {
	width: 1060px;
	background: url(../shadow_box.png) 0px 0px repeat-y;
	margin: auto;
	background-color: #fff;
}

/* Typography */
	
p {
	margin: 0px;
}

/* Footer */
#footer {
  	margin: 0px;
  	padding: 20px 60px;
  	width: 940px;
  	height: 94px;
  	margin-right:auto;
  	margin-left:auto;
  	box-shadow: none;
  	text-shadow: none;
  	background: #77787b url(../shadow_box.png) 0px 0px repeat-y;
  	color: #fff;
  	font-family: @sans3FontFamily;
  	font-size: 11px;
  	line-height: 14px;
}

#footer .widget_text {
	margin-left: 0px;
}

#footer p {
	font-size: 11px;
	line-height: 14px;
	font-family: @sans3FontFamily;
}

#footer a {
	color: #fff;
}

#footer div.black {
	color: #000;
}

#footer div.black a {
	color: #000;
}

#footer_bottom {
	width: 1060px;
	height: 20px;
	margin-right:auto;
 	margin-left:auto;
	background: url(../background_shadow_bottom.png) 0px 0px;
	background-repeat:no-repeat;
	margin-bottom: 120px;
}

.social_nav {
	height: 21px;
	overflow: hidden;
}

#youtube {
	width: 49px;
	height: 21px;
	margin-left: 40px;
	margin-right: 45px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../youtube.gif) 0px 0px no-repeat;
}

#youtube:hover {
	background: url(../youtube.gif) 0px -21px no-repeat;
}

#youtube:active {
	background: url(../youtube.gif) 0px -42px no-repeat;
}

#facebook {
	width: 65px;
	height: 21px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../facebook.gif) 0px 0px no-repeat;
}

#facebook:hover {
	background: url(../facebook.gif) 0px -21px no-repeat;
}

#facebook:active {
	background: url(../facebook.gif) 0px -42px no-repeat;
}

#twitter {
	width: 63px;
	height: 21px;
	overflow: hidden;
	margin-left: 40px;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../twitter.gif) 0px 0px no-repeat;
}

#twitter:hover {
	background: url(../twitter.gif) 0px -21px no-repeat;
}

#twitter:active {
	background: url(../twitter.gif) 0px -42px no-repeat;
}

/* Header */

#e2ma_signup_message, .e2ma_signup_form_required_footnote, .e2ma_signup_form_label, #e2ma_signup_reset_button {
	display: none;
}

#e2ma_signup_submit_button {
		
}

.newsletter {
	margin-top: -26px;
}

#id_email {
	padding: 0px;
	height: 22px;
	width: 180px;
	border-radius: 0px;
	box-shadow: none;
	-moz-transition: none;
}

#e2ma_signup_submit_button {
	height: 24px;
	width: 109px;
	background: url(../updates.png) 0px 0px no-repeat;
	border: none;
	color: transparent;
}

.e2ma_signup_form_row {
	width: 190px;
	float: left;
}

#Loglines_logo {
	width: 285px;
	height: 71px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../LogLines_logo.png) 0px 0px no-repeat;
}

#Loglines_logo:hover {
	background: url(../LogLines_logo.png) 0px -71px no-repeat;
}

#Loglines_logo:active {
	background: url(../LogLines_logo.png) 0px -142px no-repeat;
}

#LMUSofFilm {
	width: 483px;
	height: 31px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../SFTV_logo.png) 0px 0px no-repeat;
}

#LMUSofFilm:hover {
	background: url(../SFTV_logo.png) 0px -31px no-repeat;
}

#LMUSofFilm:active {
	background: url(../SFTV_logo.png) 0px -62px no-repeat;
}

#navigation {
	padding-bottom: 0px;
	margin-top: 36px;
	height: 20px;
}
#navigationline {
	border-bottom: 1px solid #000;
	margin-top: 15px;
}

/* Sidebar */

.sidebaritem {
	border: none;
}

#searching {
	padding: 0px;
}

td.searchbox {
	line-height: 24px;
}

.widget_twitter {
	border-top: 10px solid #59cef1;
	padding-top: 8px;
}

.widget_twitter h3 {
	color: #47c9f0;
	margin-bottom: -1px;
}

.widget_twitter ul {
	margin: 0px;
	display: table; width: 100%; 
}

span.entry-content {
	display: table-row-group;
	font-family: @sans2FontFamily;
	font-size: 11px;
	line-height: 16px;  
}

span.entry-meta {
	display: table-header-group;
}

span.time-meta {
	display: table-cell;
	padding-top: 16px;
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: .075em;

}
.from-meta {
	display: none;
}
