// customize bootstrap.less to change your includes
@import 'bootstrap/bootstrap.less';
@import 'typography.less';
@import 'forms.less';
@import 'app.less';
/**
 * Custom file for adding non-framework related styles to
 */
/**
 * Grid Modifications
 */

#logline.container {
	padding-left: 40px;
	padding-right: 40px;
	background-color: #fff;
}

.shadow_body {
	width: 1060px;
	background: url(../shadow_box.png) 0px 0px repeat-y;
	margin: auto;
	background-color: #fff;
}

.extra20r {
	margin-right: 20px;
}

#moveablefeast {
	margin-top: 175px;
    padding-top: 15px;
}

/* Images */

.swpf-img img {
	border: 0;
	box-shadow: none;
}

.attachment-post-thumbnail {
    border: 0;
    box-shadow: none;
    float: left;
    margin: 0px;
    min-width: inherit;
    overflow: hidden;
}

.wp-post-image {
	margin-bottom: 20px;
}

/* Typography */
	
p {
	margin: 0px;
	font-family: @sans2FontFamily;
	line-height: 18px;
	letter-spacing: 0px;
}

.altheader {
	font-family: @sansFontFamily;
}

.hspacer {
	margin-top: 5px;
	margin-bottom: 15px;
}

.hspacer3 {
	margin-top: 0px;
	margin-bottom: 15px;
}

.hspacer2 {
	margin-top: -2px;
	margin-bottom: 10px;
}

.rmorespacer {
	margin-bottom: 15px;
}

.peoplespacer {
	margin-bottom: 25px;
	margin-top: 0px;
}

.textwidget {
	padding-bottom: 2px;
}

.white {
	color: #fff;
}

.white a {
	color: #fff;
}

.blue, .blue a {
	color: #3286cd;
}

.lblue, .lblue a {
	color: #47c9f0;
}

.orange, .orange a {
	color: #ff8025;
}

.salmon, .salmon a {
	color: #ff402f;
}

.gray, .gray a {
	color: #777;
}

.readmore, .readmore a {
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: @sansFontFamily;
	font-weight: bold;
	letter-spacing: .075px;
}

.lpotb {
	padding-bottom: 40px;
	margin-top: -10px;
}

.single .lpotb {
	padding-bottom: 40px;
	margin-top: 12px;
}

.nav-previous, .nav-next, .nav-previous a, .nav-next a {
	color: #a82a27;
	line-height: 20px;
	font-size: 16px;
	font-weight: bold;
	font-family: @headingsFontFamily;
}

.borbottom {
	border-bottom: 1px dotted #000;
}

.bortop{
	border-top: 1px dotted #000;
}

.tagsblock, .tagsblock a {
	font-family: @sans2FontFamily;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: #a9a9a9;
	
}

.single h4 {
	font-family: @sansFontFamily;
	padding: 0 0 1.2em;
}

/* Footer */
#footer {
  	margin: 0px;
  	padding: 20px 60px;
  	width: 940px;
  	height: 94px;
  	margin-right:auto;
  	margin-left:auto;
  	margin-top: 80px;
  	box-shadow: none;
  	text-shadow: none;
  	background: #77787b url(../shadow_box.png) 0px 0px repeat-y;
  	color: #fff;
  	font-family: @sans3FontFamily;
  	font-size: 11px;
  	line-height: 14px;
}

#footer .widget_text {
	margin-left: 0px;
}

#footer p {
	font-size: 11px;
	line-height: 14px;
	font-family: @sans3FontFamily;
}

#footer a {
	color: #fff;
}

#footer div.black {
	color: #000;
}

#footer div.black a {
	color: #000;
}

#footer_bottom {
	width: 1060px;
	height: 20px;
	margin-right:auto;
 	margin-left:auto;
	background: url(../background_shadow_bottom.png) 0px 0px;
	background-repeat:no-repeat;
	margin-bottom: 120px;
}

.postnavigation {
	margin-bottom: 0px;
}

.social_nav {
	height: 21px;
	overflow: hidden;
}

#youtube {
	width: 49px;
	height: 21px;
	margin-left: 40px;
	margin-right: 45px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../youtube.gif) 0px 0px no-repeat;
}

#youtube:hover {
	background: url(../youtube.gif) 0px -21px no-repeat;
}

#youtube:active {
	background: url(../youtube.gif) 0px -42px no-repeat;
}

#facebook {
	width: 65px;
	height: 21px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../facebook.gif) 0px 0px no-repeat;
}

#facebook:hover {
	background: url(../facebook.gif) 0px -21px no-repeat;
}

#facebook:active {
	background: url(../facebook.gif) 0px -42px no-repeat;
}

#twitter {
	width: 63px;
	height: 21px;
	overflow: hidden;
	margin-left: 40px;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../twitter.gif) 0px 0px no-repeat;
}

#twitter:hover {
	background: url(../twitter.gif) 0px -21px no-repeat;
}

#twitter:active {
	background: url(../twitter.gif) 0px -42px no-repeat;
}

/* Header */

#e2ma_signup_message, .e2ma_signup_form_required_footnote, .e2ma_signup_form_label, #e2ma_signup_reset_button {
	display: none;
}

#e2ma_signup_submit_button {
		
}

.newsletter {
	margin-top: -26px;
}

#id_email {
	padding: 0px;
	height: 22px;
	width: 180px;
	border-radius: 0px;
	box-shadow: none;
	-moz-transition: none;
}

#e2ma_signup_submit_button {
	height: 24px;
	width: 109px;
	background: url(../updates.png) 0px 0px no-repeat;
	border: none;
	color: transparent;
}

.e2ma_signup_form_row {
	width: 190px;
	float: left;
}

#Loglines_logo {
	width: 285px;
	height: 71px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../LogLines_logo.png) 0px 0px no-repeat;
}

#Loglines_logo:hover {
	background: url(../LogLines_logo.png) 0px -71px no-repeat;
}

#Loglines_logo:active {
	background: url(../LogLines_logo.png) 0px -142px no-repeat;
}

#LMUSofFilm {
	width: 483px;
	height: 31px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../SFTV_logo.png) 0px 0px no-repeat;
}

#LMUSofFilm:hover {
	background: url(../SFTV_logo.png) 0px -31px no-repeat;
}

#LMUSofFilm:active {
	background: url(../SFTV_logo.png) 0px -62px no-repeat;
}

#navigation {
	padding-bottom: 0px;
	margin-top: 36px;
	height: 20px;
}
#navigationline {
	border-bottom: 1px solid #000;
	margin-top: 15px;
}

/* Sidebar */

.sidebaritem {
	border: none;
}

#searching {
	padding: 0px;
	margin: 0px;
}

form#searchform {
	margin: 0px;
}

td.searchbox {
	line-height: 24px;
}

.widget_twitter {
	border-top: 10px solid #59cef1;
	padding-top: 8px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.widget_rss {
	border-top: 10px solid #ff8c3a;
	padding-top: 8px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#sidebar .widget_rss ul li, #sidebar .widget_twitter ul li {
	padding-bottom: 16px;
}

.widget_twitter h3 a {
	color: #47c9f0;
	margin-bottom: -1px;
}

.widget_rss h3 a.rsswidget {
	color: #ff8025;
	margin-bottom: -1px;
	font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    font-family: @headingsFontFamily;
}

.widget_twitter ul, .widget_rss ul {
	margin: 0px;
	display: table; width: 100%; 
}

span.entry-content,  {
	display: table-row-group;
	font-family: @sans2FontFamily;
	font-size: 11px;
	line-height: 16px;  
}

.widget_rss ul li a {
	display: table-cell;
	font-family: @headingsFontFamily;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}

a.rsswidget img {
	float: right;
	padding-left: 286px;
	margin-bottom: -14px;
}

.twitimage {
	float: right;
}

#twitbut {
	width: 14px;
	height: 14px;
	overflow: hidden;
	text-indent: 100%;
	display: block;
	white-space:nowrap;
	background: url(../twitter_sq.png) 0px 0px no-repeat;
}

a.rsswidget:hover {
	text-decoration: underline;
}

span.entry-meta, span.rss-date {
	display: table-header-group;
}

span.time-meta {
	display: table-cell;
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: .075em;
}

span.rss-date {
	
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: .075em;
	font-family: @sansFontFamily;
}


.from-meta, .in-reply-to-meta {
	display: none;
}

/* Features + People*/

.featured-header {
	width: 600px;
	background-color: #3286cd;
	padding-bottom: 15px;
	padding-top: 10px;
}

.featured-posts {
	padding-top: 10px;	
}

.featured-posts > p {
	padding: 0 0 .95em;
}

.featured-text {
	width: 440px;
}

.feature_stitle, {
	margin-bottom: 0px;
	line-height: 20px;
}

.feature_stitle a{
	line-height: 20px;
	color: #00ffff;	
}

.people_stitle a{
	line-height: 20px;
	color: #a82a27;	
}

 .people_stitle {
	margin-bottom: 0px;
	margin-top: 13px;
	line-height: 20px;
	text-transform: capitalize;
}

.featured-header h6 {
	margin-bottom: 10px;
}

.single-feature-text {
	width: 580px;
}

.single-feature .featured-header {
	padding-bottom: 30px;
	padding-top: 20px;
}

.featured-home {
	width: 600px;
	margin-right: 20px;
	
}

.feature-page {
	border-top: 10px solid #ffd0ca;
	margin-right: 20px;
    width: 600px;
}

.fpageheader {
	padding-bottom: 95px;
	padding-top: 20px;
    text-transform: capitalize;
}

/* Add to Any */

.addtoany_list a {
    font-size: 16px;
    padding: 0px;
}

#a2apage_powered_by, .a2a_menu_powered_by, #a2apage_PTZ,  {
	display:none;
	visibility: hidden;
}

.addtoany_share_save_container, .a2a_kit {
	float: left;
	padding-right: 15px;
	margin-top: -1px;
}
